.elementor-5067 .elementor-element.elementor-element-42cddf0 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --flex-wrap: wrap;
    border-style: solid;
    --border-style: solid;
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    border-color: var(--e-global-color-divider);
    --border-color: var(--e-global-color-divider);
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-left: 10px;
    --padding-right: 10px;
    --z-index: 100;
    overflow: visible;
}

.elementor-5067 .elementor-element.elementor-element-364e295 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    overflow: visible;
}

.elementor-5067 .elementor-element.elementor-element-48e03ad .ata-site-logo-container,
.elementor-5067 .elementor-element.elementor-element-48e03ad .ata-caption-width figcaption {
    text-align: left;
}

.elementor-5067 .elementor-element.elementor-element-48e03ad .ata-site-logo img {
    max-width: 100%;
    max-height: 50px;
}

.elementor-5067 .elementor-element.elementor-element-48e03ad .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-5067 .elementor-element.elementor-element-48e03ad .ata-site-logo-container .ata-site-logo-img {
    border-style: none;
}

.elementor-5067 .elementor-element.elementor-element-842dc3e {
    --display: flex;
    overflow: visible;
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover,
.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus,
.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active,
.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
    background-color: #FFFFFF00;
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel {
    background-color: var(--e-global-color-accent);
    border-style: none;
    border-radius: 20px 20px 20px 20px;
    min-width: 230px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-hamburger:hover {
    background-color: var(--e-global-color-primary);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-close {
    background-color: var(--e-global-color-black);
    border-style: none;
    color: var(--e-global-color-primary);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-close:hover {
    background-color: var(--e-global-color-primary);
    color: var(--e-global-color-black);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-container {
    height: 55px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6em;
    color: var(--e-global-color-primary);
    padding: 15px 15px 15px 15px;
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a:hover {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a:focus {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a:active {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li:hover>a {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li.current-menu-item>a {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li.current-menu-ancestor>a {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a .elementskit-submenu-indicator {
    font-size: 12px;
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a .ekit-submenu-indicator-icon {
    font-size: 12px;
    color: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav-default .elementskit-dropdown-has>a .elementskit-submenu-indicator {
    margin: 0px 0px 0px 8px;
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav-default .elementskit-dropdown-has>a .ekit-submenu-indicator-icon {
    margin: 0px 0px 0px 8px;
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.6em;
    padding: 6px 20px 6px 20px;
    color: var(--e-global-color-black);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel>li>a:hover {
    color: var(--e-global-color-primary);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel>li>a:focus {
    color: var(--e-global-color-primary);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel>li>a:active {
    color: var(--e-global-color-primary);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel>li:hover>a {
    color: var(--e-global-color-primary);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel>li.current-menu-item>a {
    color: var(--e-global-color-white);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-submenu-panel {
    padding: 5px 0px 5px 0px;
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-hamburger {
    float: right;
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-hamburger .elementskit-menu-hamburger-icon {
    background-color: var(--e-global-color-black);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-hamburger>.ekit-menu-icon {
    color: var(--e-global-color-black);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-hamburger:hover .elementskit-menu-hamburger-icon {
    background-color: var(--e-global-color-black);
}

.elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-hamburger:hover>.ekit-menu-icon {
    color: var(--e-global-color-black);
}

.elementor-5067 .elementor-element.elementor-element-ff28529 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: center;
    overflow: visible;
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .elementor-repeater-item-1ae5b06>a {
    color: var(--e-global-color-divider);
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .elementor-repeater-item-1ae5b06>a svg path {
    stroke: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .elementor-repeater-item-1ae5b06>a:hover {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .elementor-repeater-item-1ae5b06>a:hover svg path {
    stroke: var(--e-global-color-white);
    fill: var(--e-global-color-white);
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .elementor-repeater-item-aae13d8>a {
    color: var(--e-global-color-divider);
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .elementor-repeater-item-aae13d8>a svg path {
    stroke: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .elementor-repeater-item-aae13d8>a:hover {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .elementor-repeater-item-aae13d8>a:hover svg path {
    stroke: var(--e-global-color-white);
    fill: var(--e-global-color-white);
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .elementor-repeater-item-4221e1e>a {
    color: var(--e-global-color-divider);
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .elementor-repeater-item-4221e1e>a svg path {
    stroke: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .elementor-repeater-item-4221e1e>a:hover {
    color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .elementor-repeater-item-4221e1e>a:hover svg path {
    stroke: var(--e-global-color-white);
    fill: var(--e-global-color-white);
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .ekit_social_media {
    text-align: center;
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .ekit_social_media>li>a {
    text-align: center;
    text-decoration: none;
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .ekit_social_media>li {
    display: inline-block;
    margin: 0px 15px 0px 0px;
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .ekit_social_media>li>a i {
    font-size: 20px;
}

.elementor-5067 .elementor-element.elementor-element-5db1bc3 .ekit_social_media>li>a svg {
    max-width: 20px;
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit-wid-con .ekit-sidebar-widget {
    height: 100vh;
    background-color: var(--e-global-color-secondary);
    max-width: 375px;
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit-bg-black {
    background-color: #FFFFFF00;
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit-sidebar-group {
    --transition-duration: 0.3s;
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_navSidebar-button {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-divider);
    border-radius: 100% 100% 100% 100%;
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_navSidebar-button svg path {
    stroke: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_navSidebar-button:hover {
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_navSidebar-button:hover svg path {
    stroke: var(--e-global-color-secondary);
    fill: var(--e-global-color-secondary);
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_navSidebar-button i {
    font-size: 14px;
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_navSidebar-button svg {
    max-width: 14px;
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_navSidebar-button,
.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_social_media ul>li:last-child {
    padding: 10px 11px 10px 11px;
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_close-side-widget {
    color: var(--e-global-color-primary);
    background-color: #FFFFFF00;
    width: 38px;
    height: 38px;
    line-height: calc(38px - 4px);
    border-radius: 50% 50% 50% 50%;
    padding: 2px 2px 2px 2px;
    margin: 16px 8px 0px 0px;
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_close-side-widget svg path {
    stroke: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_close-side-widget:hover {
    color: var(--e-global-color-secondary);
    background-color: var(--e-global-color-accent);
    border-color: var(--e-global-color-accent);
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_close-side-widget:hover svg path {
    stroke: var(--e-global-color-secondary);
    fill: var(--e-global-color-secondary);
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_close-side-widget i {
    font-size: 16px;
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit_close-side-widget svg {
    max-width: 16px;
}

.elementor-5067 .elementor-element.elementor-element-34a5ede .ekit-wid-con .ekit_sidebar-textwidget {
    padding: 150px 30px 30px 30px;
}

@media(min-width:768px) {
    .elementor-5067 .elementor-element.elementor-element-364e295 {
        --width: 16%;
    }

    .elementor-5067 .elementor-element.elementor-element-842dc3e {
        --width: 68%;
    }

    .elementor-5067 .elementor-element.elementor-element-ff28529 {
        --width: 16%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-5067 .elementor-element.elementor-element-364e295 {
        --width: 30%;
    }

    .elementor-5067 .elementor-element.elementor-element-842dc3e {
        --width: 70%;
    }

    .elementor-5067 .elementor-element.elementor-element-ff28529 {
        --width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-5067 .elementor-element.elementor-element-42cddf0 {
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    
    .elementor-5067 .elementor-element.elementor-element-842dc3e {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch;
        --flex-wrap-mobile: wrap;
        --justify-content: flex-end;
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-container {
        background-color: var(--e-global-color-accent);
        max-width: 100%;
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a {
        margin: 10px 0;
        box-shadow: 0 4px 4px rgb(140 218 255);
        color: #000000;
        padding: 8px 20px 8px 20px;
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a:hover {
        color: var(--e-global-color-primary);
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a:focus {
        color: var(--e-global-color-primary);
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a:active {
        color: var(--e-global-color-primary);
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li:hover>a {
        color: var(--e-global-color-primary);
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li:hover>a .elementskit-submenu-indicator {
        color: var(--e-global-color-primary);
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a:hover .elementskit-submenu-indicator {
        color: var(--e-global-color-primary);
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a:focus .elementskit-submenu-indicator {
        color: var(--e-global-color-primary);
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li>a:active .elementskit-submenu-indicator {
        color: var(--e-global-color-primary);
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li.current-menu-item>a {
        color: var(--e-global-color-primary);
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li.current-menu-ancestor>a {
        color: var(--e-global-color-primary);
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav>li.current-menu-ancestor>a .elementskit-submenu-indicator {
        color: var(--e-global-color-primary);
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav-default .elementskit-dropdown-has>a .elementskit-submenu-indicator {
        margin: 0px 0px 0px 0px;
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav-default .elementskit-dropdown-has>a .ekit-submenu-indicator-icon {
        margin: 0px 0px 0px 0px;
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel>li>a {
        padding: 8px 20px 8px 10px;
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-navbar-nav .elementskit-submenu-panel {
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-hamburger {
        padding: 8px 8px 3px 8px;
        width: 38px;
        border-radius: 8px;
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-hamburger>.ekit-menu-icon {
        font-size: 20px;
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-menu-close {
        font-size: 20px;
        padding: 5px 5px 5px 5px;
        width: 38px;
        border-radius: 8px;
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-nav-logo>img {
        max-width: 160px;
        max-height: 60px;
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-nav-logo {
        margin: 5px 0px 5px 0px;
        padding: 5px 5px 5px 5px;
    }
}

@media(max-width:767px) {
    .elementor-5067 .elementor-element.elementor-element-364e295 {
        --width: 60%;
    }

    .elementor-5067 .elementor-element.elementor-element-842dc3e {
        --width: 40%;
    }

    .elementor-5067 .elementor-element.elementor-element-50130de .elementskit-nav-logo>img {
        max-width: 120px;
        max-height: 50px;
    }
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: opacity 0.6s ease, visibility 0.6s ease;
}

/* Hide preloader after load */
#preloader.hidden {
    opacity: 0;
    visibility: hidden;
}

/* Logo */
#preloader img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
}

/* Typing text */
.typing {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    border-right: 3px solid #333;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    max-width: 90%;
    word-wrap: break-word;
    /* allow breaking long words */
    white-space: normal;
    text-align: center;
}

.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    word-wrap: normal !important;
}

.wpcf7 .hidden-fields-container {
    display: none;
}

.wpcf7 form .wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #00a0d2;
    /* Blue */
}

.wpcf7 form.init .wpcf7-response-output,
.wpcf7 form.resetting .wpcf7-response-output,
.wpcf7 form.submitting .wpcf7-response-output {
    display: none;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450;
    /* Green */
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
    border-color: #dc3232;
    /* Red */
}

.wpcf7 form.spam .wpcf7-response-output {
    border-color: #f56e28;
    /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    border-color: #ffb900;
    /* Yellow */
}

.wpcf7-form-control-wrap {
    position: relative;
}

.wpcf7-not-valid-tip {
    color: #dc3232;
    /* Red */
    font-size: 1em;
    font-weight: normal;
    display: block;
}

.use-floating-validation-tip .wpcf7-not-valid-tip {
    position: relative;
    top: -2ex;
    left: 1em;
    z-index: 100;
    border: 1px solid #dc3232;
    background: #fff;
    padding: .2em .8em;
    width: 24em;
}

.wpcf7-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
}

.wpcf7-list-item-label::before,
.wpcf7-list-item-label::after {
    content: " ";
}

.wpcf7-spinner {
    visibility: hidden;
    display: inline-block;
    background-color: #23282d;
    /* Dark Gray 800 */
    opacity: 0.75;
    width: 24px;
    height: 24px;
    border: none;
    border-radius: 100%;
    padding: 0;
    margin: 0 24px;
    position: relative;
}

form.submitting .wpcf7-spinner {
    visibility: visible;
}

.wpcf7-spinner::before {
    content: '';
    position: absolute;
    background-color: #fbfbfc;
    /* Light Gray 100 */
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    border: none;
    border-radius: 100%;
    transform-origin: 8px 8px;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@media (prefers-reduced-motion: reduce) {
    .wpcf7-spinner::before {
        animation-name: blink;
        animation-duration: 2000ms;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.wpcf7 [inert] {
    opacity: 0.5;
}

.wpcf7 input[type="file"] {
    cursor: pointer;
}

.wpcf7 input[type="file"]:disabled {
    cursor: default;
}

.wpcf7 .wpcf7-submit:disabled {
    cursor: not-allowed;
}

.wpcf7 input[type="url"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"] {
    direction: ltr;
}

.wpcf7-reflection>output {
    display: list-item;
    list-style: none;
}

.wpcf7-reflection>output[hidden] {
    display: none;
}

.elementor-5209 .elementor-element.elementor-element-d465c03 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
    overflow: visible;
}

.elementor-5209 .elementor-element.elementor-element-0126dec.ekit-equal-height-enable,
.elementor-5209 .elementor-element.elementor-element-0126dec.ekit-equal-height-enable>div,
.elementor-5209 .elementor-element.elementor-element-0126dec.ekit-equal-height-enable .ekit-wid-con,
.elementor-5209 .elementor-element.elementor-element-0126dec.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
    height: 100%;
}

.elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox {
    background-color: #FFFFFF00;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    border-radius: 0px 0px 0px 0px;
}

.elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox .elementskit-info-box-title {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox .box-body>p {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox p {
    margin: 0px 0px 0px 0px;
}

.elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-info-box-icon {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox .elementskit-info-box-icon {
    font-size: 40px;
    transform: rotate(0deg);
    width: 40px;
}

.elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
    margin: 0px 0px 20px 0px;
}

.elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox .elementskit-info-box-icon {
    height: 40px;
}

.elementor-widget-divider {
    --divider-color: var(--e-global-color-secondary);
}

.elementor-widget-divider .elementor-divider__text {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-widget-divider.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon {
    color: var(--e-global-color-secondary);
    border-color: var(--e-global-color-secondary);
}

.elementor-widget-divider.elementor-view-framed .elementor-icon,
.elementor-widget-divider.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-secondary);
}

.elementor-5209 .elementor-element.elementor-element-c480d36 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-divider);
    --divider-border-width: 1px;
}

.elementor-5209 .elementor-element.elementor-element-c480d36 .elementor-divider-separator {
    width: 100%;
}

.elementor-5209 .elementor-element.elementor-element-c480d36 .elementor-divider {
    padding-block-start: 10px;
    padding-block-end: 10px;
}

.elementor-5209 .elementor-element.elementor-element-a52514b.ekit-equal-height-enable,
.elementor-5209 .elementor-element.elementor-element-a52514b.ekit-equal-height-enable>div,
.elementor-5209 .elementor-element.elementor-element-a52514b.ekit-equal-height-enable .ekit-wid-con,
.elementor-5209 .elementor-element.elementor-element-a52514b.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
    height: 100%;
}

.elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox {
    background-color: #FFFFFF00;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    border-radius: 0px 0px 0px 0px;
}

.elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox .elementskit-info-box-title {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox .box-body>p {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox p {
    margin: 0px 0px 0px 0px;
}

.elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-info-box-icon {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox .elementskit-info-box-icon {
    font-size: 40px;
    transform: rotate(0deg);
    width: 40px;
}

.elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
    margin: 0px 0px 20px 0px;
}

.elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox .elementskit-info-box-icon {
    height: 40px;
}

.elementor-5209 .elementor-element.elementor-element-e586bc4 {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-divider);
    --divider-border-width: 1px;
}

.elementor-5209 .elementor-element.elementor-element-e586bc4 .elementor-divider-separator {
    width: 100%;
}

.elementor-5209 .elementor-element.elementor-element-e586bc4 .elementor-divider {
    padding-block-start: 10px;
    padding-block-end: 10px;
}

.elementor-5209 .elementor-element.elementor-element-37d587a.ekit-equal-height-enable,
.elementor-5209 .elementor-element.elementor-element-37d587a.ekit-equal-height-enable>div,
.elementor-5209 .elementor-element.elementor-element-37d587a.ekit-equal-height-enable .ekit-wid-con,
.elementor-5209 .elementor-element.elementor-element-37d587a.ekit-equal-height-enable .ekit-wid-con .elementskit-infobox {
    height: 100%;
}

.elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox {
    background-color: #FFFFFF00;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0);
    border-radius: 0px 0px 0px 0px;
}

.elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox .elementskit-info-box-title {
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    line-height: var(--e-global-typography-secondary-line-height);
}

.elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox .box-body>p {
    color: var(--e-global-color-text);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox p {
    margin: 0px 0px 0px 0px;
}

.elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-info-box-icon {
    color: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox .elementskit-info-box-icon {
    font-size: 40px;
    transform: rotate(0deg);
    width: 40px;
}

.elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox .elementskit-box-header .elementskit-info-box-icon {
    margin: 0px 0px 20px 0px;
}

.elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox .elementskit-info-box-icon {
    height: 40px;
}

.elementor-5209 .elementor-element.elementor-element-ac29d6f {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-divider);
    --divider-border-width: 1px;
}

.elementor-5209 .elementor-element.elementor-element-ac29d6f .elementor-divider-separator {
    width: 100%;
}

.elementor-5209 .elementor-element.elementor-element-ac29d6f .elementor-divider {
    padding-block-start: 10px;
    padding-block-end: 10px;
}

.elementor-widget-heading .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height);
    color: var(--e-global-color-primary);
}

.elementor-5209 .elementor-element.elementor-element-e89f96e {
    text-align: center;
}

.elementor-5209 .elementor-element.elementor-element-e89f96e .elementor-heading-title {
    font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
    font-size: var(--e-global-typography-secondary-font-size);
    font-weight: var(--e-global-typography-secondary-font-weight);
    line-height: var(--e-global-typography-secondary-line-height);
    color: var(--e-global-color-primary);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .elementor-repeater-item-b2b9260>a {
    color: var(--e-global-color-accent);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-accent);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .elementor-repeater-item-b2b9260>a svg path {
    stroke: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .elementor-repeater-item-b2b9260>a:hover {
    color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-primary);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .elementor-repeater-item-b2b9260>a:hover svg path {
    stroke: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .elementor-repeater-item-7af1cfe>a {
    color: var(--e-global-color-accent);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-accent);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .elementor-repeater-item-7af1cfe>a svg path {
    stroke: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .elementor-repeater-item-7af1cfe>a:hover {
    color: var(--e-global-color-white);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-primary);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .elementor-repeater-item-7af1cfe>a:hover svg path {
    stroke: var(--e-global-color-white);
    fill: var(--e-global-color-white);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .elementor-repeater-item-509005f>a {
    color: var(--e-global-color-accent);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-accent);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .elementor-repeater-item-509005f>a svg path {
    stroke: var(--e-global-color-accent);
    fill: var(--e-global-color-accent);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .elementor-repeater-item-509005f>a:hover {
    color: var(--e-global-color-white);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-primary);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .elementor-repeater-item-509005f>a:hover svg path {
    stroke: var(--e-global-color-white);
    fill: var(--e-global-color-white);
}

.elementor-5209 .elementor-element.elementor-element-583f803 .ekit_social_media {
    text-align: center;
}

.elementor-5209 .elementor-element.elementor-element-583f803 .ekit_social_media>li>a {
    text-align: center;
    text-decoration: none;
    border-radius: 100px 100px 100px 100px;
    width: 40px;
    height: 40px;
    line-height: 36px;
}

.elementor-5209 .elementor-element.elementor-element-583f803 .ekit_social_media>li {
    display: inline-block;
    margin: 0px 15px 0px 0px;
}

.elementor-5209 .elementor-element.elementor-element-583f803 .ekit_social_media>li>a i {
    font-size: 20px;
}

.elementor-5209 .elementor-element.elementor-element-583f803 .ekit_social_media>li>a svg {
    max-width: 20px;
}

@media(max-width:1024px) {
    .elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox {
        padding: 0px 0px 0px 0px;
    }

    .elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-widget-divider .elementor-divider__text {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox {
        padding: 0px 0px 0px 0px;
    }

    .elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox {
        padding: 0px 0px 0px 0px;
    }

    .elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox .elementskit-info-box-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-widget-heading .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-e89f96e .elementor-heading-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }
}

@media(max-width:767px) {
    .elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox {
        padding: 0px 0px 0px 0px;
    }

    .elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox .elementskit-info-box-title {
        margin: 0px 0px 5px 0px;
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-0126dec .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-widget-divider .elementor-divider__text {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-c480d36 .elementor-divider {
        padding-block-start: 10px;
        padding-block-end: 10px;
    }

    .elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox {
        padding: 0px 0px 0px 0px;
    }

    .elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox .elementskit-info-box-title {
        margin: 0px 0px 5px 0px;
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-a52514b .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-e586bc4 .elementor-divider {
        padding-block-start: 10px;
        padding-block-end: 10px;
    }

    .elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox {
        padding: 0px 0px 0px 0px;
    }

    .elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox .elementskit-info-box-title {
        margin: 0px 0px 5px 0px;
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-37d587a .elementskit-infobox .box-body>p {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-ac29d6f .elementor-divider {
        padding-block-start: 10px;
        padding-block-end: 10px;
    }

    .elementor-widget-heading .elementor-heading-title {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-e89f96e .elementor-heading-title {
        font-size: var(--e-global-typography-secondary-font-size);
        line-height: var(--e-global-typography-secondary-line-height);
    }

    .elementor-5209 .elementor-element.elementor-element-583f803 .ekit_social_media {
        text-align: center;
    }
}